@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        border: none;
        outline: none;
    
    
}

body{
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(90deg, #2A2AC0, #6A0DAD, #FF00C7);
        color: #000;
}

.header{
    padding-top: 10px;
    position: relative;
    width: 100%;
    max-height: 100;
    margin-bottom: 0; /* Убедитесь, что нет наложения */
}
.container-header{
    
    max-width: 1100px;
    max-height: 27px;
    margin: 0 auto;
  
}
.nav{
    display: flex;
    justify-content: space-between;
}

.nav-text ul{
    display: flex;
    gap: 40px;
    list-style: none;
    ;
}

.nav-text a{
    text-decoration: none;
    color: #000;
   
    
}


.text-html p{
    font-size: 20px;
}
.nav-text li{
    text-align: center;
}

/*Основная страница*/
.about-html {
    margin-top: 100px;
    margin-left: 80px;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 40px 20px;
}

.container-html {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1500px;
    background: #fff;
    max-height: 800px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    margin-left: 100px ;
}

.text-html {
    max-width: 600px;
}

.tagline {
    font-size: 14px;
    font-weight: 500;
    color: #007bff;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.title {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #000;
}

.description {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #555;
}

.info-html {
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
    color: #666;
    font-size: 16px;
    
}

.btn-html {
    display: flex;
    gap: 20px;
    padding-top: 40px;
}

.btn {
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
    
    cursor: pointer;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-secondary {
    background-color: #e2e6ea;
    color: #6c757d;
}

.btn-secondary:hover {
    background-color: #d6d8db;
}

.image-html img {
    padding-left: 300px;
    max-width: 500px;
    height: auto;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    z-index: 10;
    min-width: 150px;
    border-radius: 5px;
}

.dropdown-content a {
    display: block;
    padding: 10px 15px;
    color: #333;
    text-decoration: none;
    white-space: nowrap;
}

/* Отображение панели при наведении */
.dropdown:hover .dropdown-content {
    display: block;
}
